<div class="card col-sm mb-3 me-3 p-0", id=<%= dom_id(ai_waifu) %> style="width: 18rem;">
  <%= image_tag ai_waifu.image, class: "img-fluid rounded" %>
  <div class="card-body p-1 d-flex justify-content-center">
    <%# <h5 class="card-title">Card title</h5> %>
    <%# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> %>
    <%= button_to like_ai_waifu_path(ai_waifu), method: :post, class:"btn btn-danger text-decoration-none like-button me-2" do %>
        <i class="bi bi-heart-fill"></i>
        <p class="d-inline" style="color=black;"><%= ai_waifu.likes.count %></p>
    <% end %>
    <%= link_to rails_blob_path(ai_waifu.image, disposition: "attachment"), method: :post, class:"btn btn-info text-decoration-none download-button me-2", id:ai_waifu.id.to_s do %>
        <i class="bi bi-cloud-download-fill"></i>
        <p class="d-inline" style="color=black;"><%= ai_waifu.downloads.count %></p>
    <% end %>
  </div>
</div>