<div class="container text-center">
  <% @ai_waifus.each_slice(3) do |ai_waifus| %>
    <div class="row">
        <% ai_waifus.each do |ai_waifu| %>
            <div class="col-sm mb-3", id=<%= dom_id(ai_waifu) %> data-mdb-ripple-color="light">
                <a href=<%= ai_waifu_path(ai_waifu)%>, class="text-decoration-none">
                  <%= image_tag ai_waifu.image, class: "img-fluid img-thumbnail" %>
                </a>
                <div class="border bg-light">
                  <%= button_to like_ai_waifu_path(ai_waifu), method: :post, class:"btn btn-outline-info text-decoration-none like-button" do %>
                    <i class="bi bi-heart-fill">Like</i>
                    <p class="d-inline" style="color=black;"><%= ai_waifu.likes.count %></p>
                  <% end %>
                </div>
            </div>
        <% end %>
    </div>
  <% end %>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
  document.querySelectorAll(".like-button").forEach((e) => {
    e.addEventListener("click", () => {
      e.lastElementChild.innerHTML =  parseInt(e.lastElementChild.innerHTML) + 1
    })
  })
}, { once: true });
</script>
