<!DOCTYPE html>
<html>
  <head>
    <title>FreeAiAnimeWaifuPicture</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path("web-logothi.png") %>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7067578458557618"
     crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Freehand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EVNTV2E61F"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-EVNTV2E61F');
    </script>
  </head>

  <body>
    <%# <%= render "layouts/auth_modal" %>
    <%# <%= render "shared/navbar" %>
    <%# <%= render "layouts/header" %>
  <div class='ps-5 pe-5'>
    <p class="notice text-white"><%= notice %></p>
    <p class="alert text-white"><%= alert %></p>
    <%= yield %>
  </div>
    <footer class="text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center">
      <p class="text-light m-0 p-3" >&copy; Copyright 2022, Waifu Alchemist</p>
    </div>
    <!-- Copyright -->
    </footer>
  </body>
</html>
